<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
        <span class="ms-md-3 mb-3 mb-md-0 text-muted fs-small text-center">Made with &#9829; | <br class="d-md-none"> &copy; 2023 Jasmine Irada</span>
    </div>

    <ul class="nav col-12 col-md-6 d-flex justify-content-center justify-content-md-end list-unstyled">
    <li><a class="text-muted" target="_blank" rel="external" href="https://github.com/airada"><i class="fa-brands fa-github fa-lg" alt="Checkout my GitHub"></i></a></li>
    <li class="ms-3"><a class="text-muted" target="_blank" rel="external" href="https://www.linkedin.com/in/jasmineirada/"><i class="fa-brands fa-linkedin fa-lg" alt="Connect with me on Linkedin"></i></a></li>
    <li class="mx-3"><a class="text-muted" target="_blank" rel="nofollow" href="mailto:jasmineirada@gmail.com"><i class="fa-solid fa-envelope fa-lg" alt="Send me an email"></i></a></li>
    </ul>
</footer>

