<div class="col mt-4">
  <div class="card bg-light d-flex align-items-center justify-content-center" style="width: 25rem;">
    <div class="card-body text-center">
      <h1 class="card-title">{{title}}</h1>
      <h4>2020 - PRESENT</h4>
    </div>
    <img class="card-img-top" [src]="image_thumbnail" alt="Card image cap">
    <div class="card-footer" style="width: 100%;">
      <ul class="d-flex flex-wrap align-items-center m-0 p-0">
        <span class="fas fa-tags mx-1"></span>
        <li class="badge badge-dark text-light m-1" *ngFor="let skill of skill_list">{{skill}}</li>
      </ul>
    </div>

  </div>

</div>