<div data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
  <div class="col mt-4 mx-md-3">
    <div class="card bg-light d-flex align-items-center justify-content-center">
      <a class="card-img-top pt-5" target="_blank" rel="noopener noreferrer" [href]="link">
        <img [src]="image_thumbnail" alt="title">
      </a>
      <div class="card-footer bg-light">
        <ul class="d-flex flex-wrap align-items-center m-0 p-0">
          <li class="badge m-1 text-uppercase" *ngFor="let skill of skill_list">{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
