<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" title="Toggle navigation" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto py-2">
        <li><a class="nav-link active small-txt my-1 ms-auto mx-lg-3" routerLink="/About" routerLinkActive="active"
          aria-current="page">./home</a></li>
        <li><a class="nav-link small-txt my-1 ms-auto mx-lg-3" routerLink="/Portfolio"
          routerLinkActive="active">./portfolio</a></li>
        <li><a class="nav-link small-txt my-1 ms-auto ms-lg-3 me-lg-5" target="_blank" rel="noopener noreferrer"
          href="https://drive.google.com/file/d/1H18dQx-U2BO1mgFXNuwFs9mMy0ebcHDu/view?usp=sharing">./resume</a></li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="header" class="container-fluid">
    <img class="img-fluid" src="/assets/new_theme/header/white_bg_compressed.png" alt="White Upside Down Arch" id="whitebg">
    <div [@starsAnim]="this.state" (@starsAnim.done)="onEnd($event)">
      <div id="stars"></div>
    </div>
    <div [@starsAnim1]="this.state" (@starsAnim1.done)="onEnd($event)">
      <div id="stars1"></div>
    </div>
    <div [@starsAnim2]="this.state" (@starsAnim2.done)="onEnd($event)">
      <div id="stars2"></div>
    </div>

    <div id="space"></div>

    <div id="text" class="row m-0 pt-5" style="position: absolute; bottom: 15vh; left: 0; right: 0;">
      <div class="col mb-0 pb-0 ms-3 text-center text-white">
        <h1 class="text-white mb-3"><span style="background: linear-gradient(to top, black 50%, black 50%);">JASMINE IRADA</span></h1>
        <ul class="d-flex justify-content-center p-0 mx-0 mt-2">
          <li><a class="btn btn-outline-light me-2" target="_blank" rel="external" href="https://github.com/airada"
              ><img class="filter-white" alt="Checkout my GitHub"
                src="/assets/img/github-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-light me-2" target="_blank" rel="external" href="https://www.linkedin.com/in/jasmineirada/"
              ><img class="filter-white" alt="Connect with me on Linkedin"
                src="/assets/img/linkedin-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-light me-2" target="_blank" rel="nofollow" href="mailto:jasmineirada@gmail.com"
              ><img class="filter-white" alt="Send me an email"
                src="/assets/img/envelope-solid.svg"></a>
          </li>
        </ul>
        <br>

      </div>
    </div>


  </div>
</header>

<section class="page-section portfolio bg-white" id="portfolio">
  <app-portfolio-featured badges="Angular,Bootstrap,Design" image="/assets/img/portfolio/personal/personal_mockup.jpg"
    title="Personal Website" date="September 2019 - Ongoing"
    description="Personal website with portfolio and accomplishments." code="https://github.com/airada/happy-for-you"
    link="https://mimi-ai.herokuapp.com/"></app-portfolio-featured>
</section>

<section class="bg-white py-5 my-5">
  <h2 class="text-center text-uppercase mb-5">
    <span style="background: linear-gradient(to top, lightgray 50%, transparent 50%);">ABOUT ME</span></h2>
  <div class="container-xxxl d-flex flex-wrap">
    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img mx-auto" src="/assets/img/avataaars.svg" alt="Smiling Girl Avatar Icon from avataaars.com" />

        <div class="card-body">
          <p class="card-text text-center">
            I'm Jasmine Irada.
            (she/her)
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" src="assets/img/graduation-cap-solid.svg"
          alt="Graduation Cap Icon" />

        <div class="card-body">
          <p class="card-text text-center">
            UC Irvine
          </p>
          <p class="text-center small-txt">
            Computer Science B.S.
            <br>
            Class of 2020
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" src="assets/img/lightbulb-regular.svg"
          alt="Lightbulb Icon" />

        <div class="card-body">
          <p class="card-text text-center">
            I develop ideas into impactful, successful
            products.
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" src="assets/img/laptop-code-solid.svg"
          alt="Laptop with Code brackets Icon" />

        <div class="card-body">
          <p class="card-text text-center">
            I'm looking for opportunities that allow me to grow as a
            developer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer bg-white text-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col mb-5 mb-lg-0">
        <p class="name-custom mb-4">Let's Connect!</p>
        <ul class="d-flex justify-content-center p-0 mx-0 mt-2">
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external" href="https://github.com/airada"
              ><img class="filter-black" alt="Checkout my GitHub"
                src="/assets/img/github-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external" href="https://www.linkedin.com/in/jasmineirada/"
              ><img class="filter-black" alt="Connect with me on Linkedin"
                src="/assets/img/linkedin-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="nofollow" href="mailto:jasmineirada@gmail.com"
              ><img class="filter-black" alt="Send me an email"
                src="/assets/img/envelope-solid.svg"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 bg-white text-center text-dark">
  <div class="container">
    <p class="small-txt">©2020 - 2021 <br> JASMINE IRADA <br> MADE WITH <img style="height: 1rem;" alt="Love"
      src="/assets/img/heart-solid.svg"></p>
  </div>
</div>
