<div id="page-top">
  <nav class="navbar navbar-expand-lg text-uppercase fixed-top p-0" id="mainNav">
    <div class="container justify-content-end">
      <!-- <a class="js-scroll-trigger" href="#page-top"></a> -->
      <button class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded" type="button"
        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars fa-2x"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-auto mx-lg-1">
            <a class="nav-link mb-3 my-lg-0 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/About"
              routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item ml-auto mx-lg-1">
            <a class="nav-link my-3 my-lg-0 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/Portfolio"
              routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item ml-auto mx-lg-1">
            <a class="nav-link my-3 my-lg-0 px-0 px-lg-3 rounded js-scroll-trigger" target="_blank"
              href="https://drive.google.com/file/d/1H18dQx-U2BO1mgFXNuwFs9mMy0ebcHDu/view?usp=sharing">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="sidebar d-none d-lg-block pt-2 pl-5 fixed-bottom text-white">
    <a class="btn-social-custom mx-2" target="_blank" href="https://github.com/airada"
      aria-label="Checkout my GitHub"><i class="fab fa-fw fa-github fa-lg"></i></a>
    <a class="btn-social-custom mx-2" target="_blank" href="https://rninchan.itch.io/"
      aria-label="Checkout my games on Itch.io"><i class="fab fa-fw fa-itch-io fa-lg"></i></a>
    <a class="btn-social-custom mx-2" target="_blank" href="https://www.linkedin.com/in/jasmineirada/"
      aria-label="Connect with me on Linkedin"><i class="fab fa-fw fa-linkedin fa-lg"></i></a>
    <a class="btn-social-custom mx-2" target="_blank" href="mailto:jasmineirada@gmail.com"
      aria-label="Send me an email"><i class="fas fa-fw fa-envelope fa-lg"></i></a>
  </div> -->

  <!--Header-->
  <header>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="d-none d-md-block  text-white text-center p-5 mb-lg-5">
        <p class="sub-heading">Hi, there! My name is</p>
        <h1>JASMINE IRADA</h1>
        
      </div>

      <div class="d-none d-md-block bottom-align-text text-white text-center ">
        <h2>SOFTWARE ENGINEER</h2>
        <p>
          Diving deep into the intersection between technology, art, and design.
        </p>
        <ul class="d-flex justify-content-center p-0 mx-0 mt-4">
          <span class="my-auto mx-1 dot-sm"></span>
          <span class="my-auto mx-1 dot"></span>
          <li><a class="btn-social-custom mx-2" target="_blank" href="https://github.com/airada"
              aria-label="Checkout my GitHub"><i class="fab fa-fw fa-github fa-2x"></i></a>
          </li>
          <li><a class="btn-social-custom mx-2" target="_blank" href="https://rninchan.itch.io/"
              aria-label="Checkout my games on Itch.io"><i class="fab fa-fw fa-itch-io fa-2x"></i></a>
          </li>
          <li><a class="btn-social-custom mx-2" target="_blank" href="https://www.linkedin.com/in/jasmineirada/"
              aria-label="Connect with me on Linkedin"><i class="fab fa-fw fa-linkedin fa-2x"></i></a>
          </li>
          <li><a class="btn-social-custom mx-2" target="_blank" href="mailto:jasmineirada@gmail.com"
              aria-label="Send me an email"><i class="fas fa-fw fa-envelope fa-2x"></i></a>
          </li>
          <span class="my-auto mx-1 dot"></span>
          <span class="my-auto mx-1 dot-sm"></span>
        </ul>
        
      </div>
      
      <!-- bottom-align-text text-white text-left ml-3 mb-md-5 -->
      <div class="d-md-none top-align text-shadow text-white mt-0 pt-2 ">
        <p class="sub-heading">Hi, there! My name is</p>
        <h1>JASMINE IRADA</h1>
      </div>
      <div class="d-md-none bottom-align-text text-white text-center ">
        <h2 class="text-shadow">SOFTWARE ENGINEER</h2>

        <ul class="d-flex justify-content-center p-0 mx-0 mt-4">
          <span class="my-auto mx-1 dot-sm"></span>
          <span class="my-auto mx-1 dot"></span>
          <li><a class="btn-social-custom mx-2" target="_blank" href="https://github.com/airada"
              aria-label="Checkout my GitHub"><i class="fab fa-fw fa-github fa-2x"></i></a>
          </li>
          <li><a class="btn-social-custom mx-2" target="_blank" href="https://rninchan.itch.io/"
              aria-label="Checkout my games on Itch.io"><i class="fab fa-fw fa-itch-io fa-2x"></i></a>
          </li>
          <li><a class="btn-social-custom mx-2" target="_blank" href="https://www.linkedin.com/in/jasmineirada/"
              aria-label="Connect with me on Linkedin"><i class="fab fa-fw fa-linkedin fa-2x"></i></a>
          </li>
          <li><a class="btn-social-custom mx-2" target="_blank" href="mailto:jasmineirada@gmail.com"
              aria-label="Send me an email"><i class="fas fa-fw fa-envelope fa-2x"></i></a>
          </li>
          <span class="my-auto mx-1 dot"></span>
          <span class="my-auto mx-1 dot-sm"></span>
        </ul>
        <!-- <p>
          Diving deep into the intersection between technology, art, and design.
        </p> -->
      </div>
    </div>
  </header>


  <!-- Portfolio Section-->
  <section class="page-section portfolio mb-5" id="portfolio">
    <div class="container">
        <h2 class="text-center text-white text-uppercase mb-3">
          Featured Work
        </h2>

      <app-portfolio-featured badges="Python,Angular,Bootstrap,Design" image="/assets/img/portfolio/mimi/prototype.png"
        title="Mimi AI: Happy For You" date="August 2020 - Ongoing"
        description="Motivational task-list system integrated with game mechanics and design."
        code="https://github.com/airada/happy-for-you" link="https://mimi-ai.herokuapp.com/"></app-portfolio-featured>

    </div>
  </section>

    <!-- About Section-->
  <section class="text-dark bg-white py-5">
    <h2 class="text-center text-uppercase text-dark">ABOUT ME</h2>
    <div class="container d-flex flex-wrap ">

        <div class="col-6 col-lg-3 p-0 mx-auto">
          <div class="card bg-white card-size">
            <img class="card-img-top mx-auto" style="height: 8rem; width: 8rem" src="/assets/img/avataaars.svg"
              alt="Smiling Girl Avatar Icon" />

            <div class="card-body">
              <p class="card-text text-center">
                I'm Arielle <b>Jasmine</b> Michelle Irada.
                (she/her)
              </p>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3 p-0 mx-auto">
          <div class="card bg-white card-size">
            <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" style="height: 6rem; width: 6rem"
              src="assets/img/graduation-cap-solid.svg" alt="Graduation Cap Icon" />

            <div class="card-body">
              <p class="card-text text-center">
                University of California, Irvine
                <small>Computer Science B.S.</small>
                <br />
                <small>Class of 2020</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3 p-0 mx-auto">
          <div class="card bg-white card-size">
            <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" style="height: 6rem; width: 6rem"
              src="assets/img/lightbulb-regular.svg" alt="Lightbulb Icon" />

            <div class="card-body">
              <p class="card-text text-center">
                I transform creative visions into impactful, successful
                products.
              </p>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3 p-0 mx-auto">
          <div class="card bg-white card-size">
            <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" style="height: 6rem; width: 6rem"
              src="assets/img/laptop-code-solid.svg" alt="Laptop with Code brackets Icon" />

            <div class="card-body">
                <p class="card-text text-center">
                  I'm looking for opportunities that allow me to grow as a
                  developer.
                </p>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!-- Footer-->
  <footer class="footer bg-white text-dark text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Social Icons-->
        <div class="col mb-5 mb-lg-0">
          <p class="name-custom mb-4">Let's Connect!</p>
          <a class="btn btn-outline-dark btn-social mx-1" target="_blank" href="https://github.com/airada"
            aria-label="Checkout my GitHub"><i class="fab fa-fw fa-github"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" target="_blank" href="https://rninchan.itch.io/"
            aria-label="Checkout my games on Itch.io"><i class="fab fa-fw fa-itch-io"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" target="_blank"
            href="https://www.linkedin.com/in/jasmineirada/" aria-label="Let's connect on LinkedIn"><i
              class="fab fa-fw fa-linkedin"></i></a>
          <a class="btn btn-outline-dark btn-social mx-1" target="_blank" href="mailto:jasmineirada@gmail.com"
            aria-label="Send me an email"><i class="fas fa-fw fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Copyright Section-->
  <div class="copyright py-4 bg-white text-center text-dark">
    <div class="container">
      <p><small>©2020 - 2021 <br> JASMINE IRADA <br> MADE WITH <i class="fas fa-heart"></i></small></p>
    </div>
  </div>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"
      aria-label="Go back to top of page"><i class="fa fa-chevron-up"></i></a>
  </div>

  <!-- Portfolio Modals-->
  <!-- Portfolio Modal 1-->
  <!-- <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                    id="portfolioModal1Label">Log Cabin</h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="" />
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                    assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                    velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                </p>
                                <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                    id="portfolioModal2Label">Tasty Cake</h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cake.png" alt="" />
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                    assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                    velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                </p>
                                <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                    id="portfolioModal3Label">Circus Tent</h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/circus.png" alt="" />
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                    assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                    velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                </p>
                                <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>