header {
    background-image: url("assets\header_final.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80%;
}

ul, li {
    list-style-type: none; 
    margin: none;
    padding: none;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    bottom: 20%;
}
