<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark text-white">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" title="Toggle navigation" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto py-2">
        <li><a class="nav-link active text-sm my-1 ms-auto mx-lg-3" routerLink="/home" routerLinkActive="active"
          aria-current="page"><b>HOME</b></a></li>
        <li><a class="nav-link text-sm my-1 ms-auto mx-lg-3" routerLink="/portfolio"
          routerLinkActive="active"><b>PORTFOLIO</b></a></li>
        <li><a class="nav-link text-sm my-1 ms-auto ms-lg-3 me-lg-5" target="_blank" rel="noopener noreferrer"
          href="https://drive.google.com/file/d/1juvooQNMBCzWMf_cCjyGVTFOwWlOVk3i/view?usp=sharing"><b>RESUME</b></a></li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="header" class="container-fluid">
    <img id="whitebg" class="img-fluid" src="/assets/new_theme/header/white_bg_only.png" alt="White, upside-down arch with checkered and diagonal cross patterns.">
    <div class="stars-position" [@starsAnim]="this.state" (@starsAnim.done)="onEnd($event)">
      <div id="stars" alt=""></div>
    </div>
    <div class="stars-position" [@starsAnim1]="this.state" (@starsAnim1.done)="onEnd($event)">
      <div id="stars1" alt=""></div>
    </div>
    <div class="stars-position" [@starsAnim2]="this.state" (@starsAnim2.done)="onEnd($event)">
      <div id="stars2" alt=""></div>
    </div> 
    <img id="whitebg" class="d-xxxl-block" src="/assets/img/stars.png" alt="Tiny stars placed all over the background.">
    <div id="space" class="img-fluid" alt="Black background."></div>

    <div id="name" class="row m-0 pt-lg-5">
      <div class="col mb-0 pb-0 ms-3 text-center">
        <div data-aos="fade-down" data-aos-duration="1500" data-aos-once="true">
          <h1 class="text-white mb-3">JASMINE IRADA</h1>
        </div>
        
        <ul class="d-flex justify-content-center p-0 mx-0 mt-2">
          <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-once="true">
            <li><a class="btn btn-outline-light me-2" target="_blank" rel="external" href="https://github.com/airada"
              ><img class="filter-white" alt="Checkout my GitHub!"
                src="/assets/img/github-brands.svg"></a>
            </li>
          </div>
          <div data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
            <li><a class="btn btn-outline-light me-2" target="_blank" rel="external" href="https://www.linkedin.com/in/jasmineirada/"
              ><img class="filter-white" alt="Connect with me on Linkedin!"
                src="/assets/img/linkedin-brands.svg"></a>
            </li>
          </div>
          <div data-aos="zoom-in-down" data-aos-duration="2000" data-aos-once="true">
            <li><a class="btn btn-outline-light me-2" target="_blank" rel="nofollow" href="mailto:jasmineirada@gmail.com"
              ><img class="filter-white" alt="Send me an email!"
                src="/assets/img/envelope-solid.svg"></a>
            </li>
          </div>
        </ul>
        <br>

      </div>
    </div>

    <div id="introduction" class="m-0 pt-lg-5 px-0">
        <div class="row p-0 m-0">
          <div class="d-none d-lg-block col-lg-1"></div>
          <div class="col-12 col-lg-5 px-5 px-lg-0">
            <div data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
              <h2 class="text-dark title text-lg"><b>SOFTWARE ENGINEER</b></h2>
              <p class="text-dark mb-0 pb-0 text-left text-dark">
                As a developer with a keen eye for design and problem-solving, 
                I’ve helped large organizations and small project teams successfully 
                reach their full potential by satisfying clients 
                and bringing products to life.
                <br><br>
              </p>
              <p class="text-dark text-rg">
                <b><a routerLink="/portfolio"
                  routerLinkActive="active">VIEW PROJECTS</a></b> or <b><a href="...">READ ABOUT ME</a></b>
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-block px-5">
              <div class="astrokitty d-flex align-items-end justify-content-end flex-column pt-3 px-5">
                <!-- <div data-aos="zoom-in-down" data-aos-duration="1500" data-aos-once="true">
                  <ul class="d-flex justify-content-start ">
                    <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external" (click)="add_trip()"
                        ><img class="filter-black" alt="Click to see Rocket Animation" 
                              src="/assets/img/rocket-solid.svg"></a>
                    </li>
                  </ul>
                </div>
                
                <div data-aos="zoom-in-up" data-aos-duration="1500" data-aos-once="true">
                  <p class="text-sm text-end">
                    I've visited space <b>{{reach_the_stars}}</b> times in <b>{{year}}</b>. <br>
                    Will you help me reach for the stars?<br><br></p>
                </div> -->
                
              </div>
          </div>
        </div>
    </div>
  </div>
</header>


<section id="portfolio" class="page-section portfolio bg-white">
  <app-portfolio-featured badges="Angular,TypeScript,Bootstrap,Design"
    image="/assets/img/portfolio/personal/mockup_website_01.jpg"
    image2="/assets/img/portfolio/personal/mockup_website_01.jpg"
    title="personal website" date="June 2020 - Ongoing"
    description="Personal website with portfolio and accomplishments."
    problem="Creating a minimalist, accessible, responsive design while optimizing website performance."
    solution="Heavy test-driven development using accessibility checkers, performance and network metrics, and user interface design theories and best practices."
    features="Open-source portfolio multi-filter component, original interface and mockup designs."
    ></app-portfolio-featured>

    <!-- <app-portfolio-featured badges="HTML, CSS, JavaScript, JQuery, API, Java, XML, MySQL, Android, AWS EC2, Apache Tomcat" image="/assets/img/portfolio/fabflix/mockup/mockup_mobile.jpg"
    image2="/assets/img/portfolio/fabflix/mockup/mockup_mobile.jpg"
    title="fabflix" 
    date="March 2020 - Present"
    description="Full-fledged e-commerce, movie-shopping website and mobile application." 
    problem="Building a complete CRUD application from the ground up using HTML, CSS, JavaScript, and Java."
    solution="Implemented modern data management techniques including database connectivity, microservice architecture, extending database functions, database administration, and XML."
    notable features="Several layers of security measures, an admin dashboard, dynamic content, and a mobile application."
    ></app-portfolio-featured>

    <app-portfolio-featured badges="Angular,TypeScript, REST API,Design,JSON Schemas,Agile" image="/assets/img/portfolio/healthwise/mockup/mockup_website.jpg"
    image2="/assets/img/portfolio/healthwise/mockup/mockup_website.jpg"
    title="healthwise" 
    date="January 2020 - June 2020"
    description="Healthcare web app that provides medical and environmental data for ongoing field studies." 
    problem="Improving experience design and building efficient, customizable tools for data analysis while navigating an extensive codebase."
    solution="Collaborated closely with stakeholders and development teams to exceed design goals and expectations. Aptly researched core Angular principles and applied computer science fundamentals and software design techniques."
    notable features="User-friendly design, auto-saving, caching data for offline access."
    ></app-portfolio-featured> -->

</section>

<!-- <section class="bg-white py-5 my-5">
  <h2 class="text-center my-5">
    about me
    </h2>
  <!-- <div class="container">
    <div class="row">
      <h2 class="text-center my-5">
        about me
        </h2>
        <div class="col">
          <p>Hello there!👋 <br>I'm <b>Jasmine Irada</b>, an <b>associate software engineer</b> focusing on frontend web development. <br><br>
            <small><b>MY JOURNEY</b></small><br>
            I've had a passion for technology the moment I threw my tiny hands onto the large, illuminated screen of my old CRT monitor. 
            From coding my own profiles on MySpace and Tumblr with <b>HTML/CSS</b>, to taking my first programming course in high school--I 
            finally graduated from the <b>University of California, Irvine</b> with a <b>Computer Science B.S.</b> specializing in modern data and information systems in the <b>summer of 2020</b>.
            <br><br>
            Currently, I build upon and regularly maintain portfolio projects, ready to tackle the unique challenges that continue to come with web development.
            I value <b>adaptability</b> to help me grow as a developer, dedicating myself to learning the best, up-to-date software design practices in order to surpass client expectations.
            <br><br>
            <small><b>NOTABLE AWARDS & ACHIEVEMENTS</b></small><br><br>
            <small><b>2019</b></small><br>
            - <i>Building, Recruiting, And Inclusion for Diversity (BRAID) Grace Hopper Celebration Scholarship</i><br>
            - <i>AthenaHacks Winner: Best Game Sponsored by Activision <small><a href="">View Project Details</a><br></small></i> 
          </p>
        </div>
    </div>
  </div> 
  <div class="container-xxxl d-flex flex-wrap">
    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mt-4 mx-auto" src="/assets/img/user-circle-solid.svg" alt="Smiling Girl Avatar Icon from avataaars.com" />

        <div class="card-body">
          <p class="card-text text-center">
            👋 Hi, I'm Jasmine Irada!</p>
            <p class="text-center small-txt">(she/her)</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" src="assets/img/graduation-cap-solid.svg"
          alt="Graduation Cap Icon" />

        <div class="card-body">
          <p class="card-text text-center">
            University of California, Irvine
          </p>
          <p class="text-center small-txt">
            Computer Science B.S.
            <br>
            Class of 2020
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" src="assets/img/lightbulb-regular.svg"
          alt="Lightbulb Icon" />

        <div class="card-body">
          <p class="card-text text-center">
            I develop ideas into impactful, successful
            products.
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3 p-0 mx-auto">
      <div class="card bg-white card-size">
        <img class="card-img-top mx-auto mt-4 p-4 rounded-circle bg-dark" src="assets/img/laptop-code-solid.svg"
          alt="Laptop with Code brackets Icon" />

        <div class="card-body">
          <p class="card-text text-center">
            I'm looking for opportunities that allow me to grow as a
            developer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<footer class="footer bg-white text-center text-dark">
  <div class="container">
    <div class="row">
      <div class="col mb-5 mb-lg-0">
        <p class="name-custom mb-4">Thanks for stopping by. Let's connect!</p>
        <ul class="d-flex justify-content-center p-0 mx-0 mt-2">
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external" href="https://github.com/airada"
              ><img class="filter-black" alt="Checkout my GitHub"
                src="/assets/img/github-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external" href="https://www.linkedin.com/in/jasmineirada/"
              ><img class="filter-black" alt="Connect with me on Linkedin"
                src="/assets/img/linkedin-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="nofollow" href="mailto:jasmineirada@gmail.com"
              ><img class="filter-black" alt="Send me an email"
                src="/assets/img/envelope-solid.svg"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="copyright bg-white text-center text-dark py-4">
  <div class="container">
    <p class="text-sm">©{{year}} <br> JASMINE IRADA <br> MADE WITH <img class="filter-red" style="height: 1rem;" alt="Love"
      src="/assets/img/heart-solid.svg"></p>
  </div>
</div>
