h1,
h2,
h3,
h4,
h5,
h6
 { font-family: "Batang"; font-style: normal; font-variant: normal;  }

/* h2 {
  font-weight: 900;
  font-family: "Playfair Display";

} */

p,
.subheading,
.navbar-brand,
.nav-link{
  margin-bottom: 0.5rem;
  font-family: "Calibri Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.2;
  color: black;
}

.small-txt {
  font-size: small;
}

ul {
  list-style: none;
  list-style-type: none;
}

/* 
NAVBAR 
*/

.navbar {
  background-color: black;
  color: #f5f5f7;
}

.navbar-nav, .nav-link, .navbar-brand {
  margin-left: auto;
  color: #f5f5f7;
}

.navbar-nav li a {
  text-align: right;
  font-weight: normal;
}

/* 
HEADER 
*/
header {
  height: 100vh;
}

header > .container-fluid {
  height: 100%;
}

#header {
  position: relative;
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#whitebg  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

#stars {
  width: 0.05rem;
  height: 0.05rem;
  background: transparent;
  z-index: -5;
}

#stars1 {
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 0.075rem;
  background: transparent;
  z-index: -5;
}

#stars2 {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  background: transparent;
  z-index: -5;
}

#space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%); */
  background-image: 
  radial-gradient(circle at bottom, #303e4eaf 0%, #181a2c 10%,black 70%), 
  url("src/assets/new_theme/header/black.jpg");
  z-index: -4;
}

/* 
SECTION 
*/
a {
  color: black;
  font-weight: 900;
}

section {
  z-index: 5;
}

.container-xxxl {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.card {
  border: none;
}


/* 
ICONS
 */

.filter-white {
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}

.btn:hover .filter-black {
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}

.btn:hover .filter-white {
  filter: none;
}

.btn-outline-light, .btn-outline-dark {
  border-radius: 50%;
}

/* 
  MEDIA QUERIES
 */

@media only screen and (min-width: 2560px) {
  .d-xxxl-block {
    display: block;
  }

  h1 {
    font-size: 5rem;
  }
  
  .subheading {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  .container-xxxl {
    max-width: 4000px;
  }

  .card-img-top {
    height: 12rem;
    width: 12rem;
  }

  .card-img{
    height: 14rem;
    width: 14rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .filter-white, .filter-black  {
    height: 4rem;
  }

  .btn-outline-light,.btn-outline-dark {
    padding: 2em;
  }
}

@media only screen and (max-width: 2559px) {
  .d-xxxl-block {
    display: none;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  .subheading {
    font-size: 2rem;
    margin-top: 1.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  .container-xxxl {
    max-width: 1824px;
  }

  .card-img-top {
    height: 10rem;
    width: 10rem;
  }

  .card-img{
    height: 12rem;
    width: 12rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .filter-white, .filter-black  {
    height: 2rem;
  }

  .btn-outline-light,.btn-outline-dark {
    padding: 2em;
  }
}

@media only screen and (max-width: 1824px) {
  .d-xxxl-block {
    display: none;
  }

  h1 {
    font-size: xx-large;
  }
  
  .subheading {
    font-size: large;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: large;
  }

  .card-img-top {
    height: 6rem;
    width: 6rem;
  }

  .card-img {
    height: 8rem;
    width: 8rem;
  }

  .nav-link {
    font-size: 1.15rem;
  }

  .filter-white, .filter-black  {
    height: 1.5rem;
  }

  .btn-outline-light,.btn-outline-dark {
    padding: 1.25em;
  }
}

@media only screen and (max-width: 600px) {
  .d-xxxl-block {
    display: none;
  }
  
  h1 {
    font-size: x-large;
  }
  
  .subheading {
    font-size: 0.90rem;
  }

  h2 {
    font-size: normal;
  }

  p {
    font-size: small;
  }

  .filter-white, .filter-black {
    height: 1.5rem;
  }

  .btn-outline-light,.btn-outline-dark {
    padding: 1.5em;
  }
}
