.card {
    border: none;
}

.card-body {
    background-color: #faf9f7;
}

.badge {
    background-color: #faf9f7;
    color: #2a2a2a;
    box-shadow: 2px 2px 5px #e8e6e1;
    font-weight: 200 !important;
    font-style: normal;
    padding: 0.75em;
  }