.header {
    min-height: 100vh;
	/* background-image: url("/assets/gray(1).svg");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: top right; */
}

#title {
	min-height: 70vh;
	position: relative;
	white-space: nowrap;
	background-color: #121212 !important;
}

h1 {
	position: absolute;
	bottom: 15vh;
}

a {
    color: #faf9f7;
}

.bg-transparent {
    background-color: transparent;
}

/* @media only screen and (max-width: 319px) {
	
}

 @media only screen and (min-width: 320px) {

} */


@media only screen and (min-width: 760px) {
	img {
		width: 100%;
	}
}