h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.2;
}

h2 {
  font-weight: normal;
  font-size: large;
}

h4 {
  font-size: large;
}

h6 {
  font-size: small;
}

header,
section,
footer {
  background-color: white;
}

.navbar {
  background-color: #0b2228;
}

.navbar-nav li a {
  text-align: right;
  font-weight: normal;
}
.navbar-nav {
  font-size: small;
}
.copyright {
  background-color: #051114ff;
}

a.badge:hover,
a.badge-pill:hover {
  background-color: #fd7e14;
}

a.badge:active,
a.badge-pill:active {
  background-color: #803300;
}
.hidden {
  display: none;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

ul,
li {
  list-style-type: none;
  margin: none;
  padding: none;
}

.text-80 {
  font-size: 80%;
  margin: 0;
  padding: 0;
}
