<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" title="Toggle navigation" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav py-2">
        <li><a class="nav-link small-txt my-1 ms-auto mx-lg-3" routerLink="/home" routerLinkActive="active"
            aria-current="page">HOME</a></li>
        <li><a class="nav-link active small-txt my-1 ms-auto mx-lg-3" routerLink="/portfolio"
            routerLinkActive="active">PORTFOLIO</a></li>
        <li><a class="nav-link small-txt my-1 ms-auto ms-lg-3 me-lg-5" target="_blank" rel="noopener noreferrer"
            href="https://drive.google.com/file/d/1juvooQNMBCzWMf_cCjyGVTFOwWlOVk3i/view?usp=sharing">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="text-dark  pb-5">
  <app-filters (filter_skill)="filter($event)"
    skills="Angular,Bootstrap,C#,Design,Flask,HTML/CSS,Java,JavaScript,Python,TypeScript,Unity"></app-filters>

  <div class="d-flex flex-wrap justify-content-center mt-3">
    <app-project-preview class="htmlcss bootstrap angular design" title="Personal Website"
      skills="HTML/CSS,Bootstrap,Angular,Design" image_thumbnail="/assets/img/portfolio/personal/mockup_website_01.jpg"
      link="https://jasmineirada.com/About">
    </app-project-preview>

    <!-- <app-project-preview class="htmlcss js typescript java design" title="Fabflix"
      skills="HTML/CSS,JavaScript,TypeScript,Java,Design"
      image_thumbnail="/assets/img/portfolio/fabflix/mockup/mockup_mobile.jpg"
      link="https://ec2-3-17-183-130.us-east-2.compute.amazonaws.com:8443/cs122b-update/login.html">
    </app-project-preview>

    <app-project-preview class="htmlcss bootstrap typescript angular design" title="Healthwise"
      skills="HTML/CSS,Bootstrap,TypeScript,Angular,Design"
      image_thumbnail="/assets/img/portfolio/healthwise/mockup/mockup_website.jpg"
      link="https://jasmineirada.com/About">
    </app-project-preview>

    <app-project-preview class="htmlcss bootstrap angular typescript design" title="Open-source Multifilter"
      skills="HTML/CSS,Bootstrap,Angular,TypeScript,Design"
      image_thumbnail="/assets/img/portfolio/filter/mockup_website.jpg" link="https://jasmineirada.com/project-filter/">
    </app-project-preview>

    <app-project-preview class="unity cs design" title="Escaping the Negativity" skills="Unity, C#, Design"
      image_thumbnail="/assets/img/portfolio/athenahacks/mockup_pc.jpg"
      link="https://devpost.com/software/escaping-the-negativity">
    </app-project-preview>

    <app-project-preview 
      class="cs unity art"
      title="TREASURE TOWER"
      skills="C#,Unity,Art"
      image_thumbnail="/assets/new_theme/test_projects/888.jpg"
      link="https://devpost.com/software/treasure-tower">
    </app-project-preview>

    <app-project-preview
      class="python flask js htmlcss bootstrap"
      title="MIMI AI: HAPPY FOR YOU"
      skills="Python,Flask,JavaScript,HTML/CSS,Bootstrap"
      image_thumbnail="/assets/new_theme/test_projects/186.jpg"
      link="https://mimi-ai.herokuapp.com/">
    </app-project-preview>

    <app-project-preview
      class="htmlcss js design"
      title="DIGITAL ROOT"
      skills="HTML/CSS,JavaScript, Design"
      image_thumbnail="/assets/new_theme/test_projects/899.jpg"
      link="https://jasmineirada.com/digitalroot/"></app-project-preview> -->

  </div>
</section>

<footer class="footer pt-5 text-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col mb-5 mb-lg-0">
        <p class="mb-4">Thanks for stopping by. <br>If you'd like to know more, I'd be happy to connect ♥</p>
        <ul class="d-flex justify-content-center p-0 mx-0 mt-2">
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external" href="https://github.com/airada"><img
                class="filter-black" alt="Checkout my GitHub" src="/assets/img/github-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="external"
              href="https://www.linkedin.com/in/jasmineirada/"><img class="filter-black"
                alt="Connect with me on Linkedin" src="/assets/img/linkedin-brands.svg"></a>
          </li>
          <li><a class="btn btn-outline-dark me-2" target="_blank" rel="nofollow"
              href="mailto:jasmineirada@gmail.com"><img class="filter-black" alt="Send me an email"
                src="/assets/img/envelope-solid.svg"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-dark">
  <div class="container">
    <p class="small-txt">©{{year}} <br> JASMINE IRADA <br> MADE WITH ♥</p>
  </div>
</div>