<!-- Navigation-->
<!-- <nav class="navbar navbar-expand-lg  fixed-top p-0 py-md-3" id="mainNav">
  <div id="alert" [@alert]="skillExist ? 'closed' : 'open'" class="container alert alert-danger mt-lg-0 d-none" role="alert">
    <p><b class="mr-1">Sorry!</b> Skill currently not available.</p>
  </div>
  <div class="container text-uppercase justify-content-end">
    <button class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <div class="collapse navbar-collapse pb-3 py-lg-0" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pb-3 px-3 py-lg-0">
          <a class="nav-link text-dark rounded" routerLink="/About"
            routerLinkActive="active"><b>Home</b></a>
        </li>
        <li class="nav-item p-3 py-lg-0">
          <a class="nav-link rounded" routerLink="/Portfolio"
            routerLinkActive="active"><b>Portfolio</b></a>
        </li>
        <li class="nav-item p-3 py-lg-0">
          <a class="nav-link text-dark rounded" target="_blank"
            rel="noopener noreferrer"
            href="https://drive.google.com/file/d/1H18dQx-U2BO1mgFXNuwFs9mMy0ebcHDu/view?usp=sharing"><b>Resume</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">-</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/About" routerLinkActive="active" aria-current="page">HOME</a>
        <a class="nav-link active" routerLink="/Portfolio" routerLinkActive="active">PORTFOLIO</a>
        <a class="nav-link" target="_blank" rel="noopener noreferrer"
        href="https://drive.google.com/file/d/1H18dQx-U2BO1mgFXNuwFs9mMy0ebcHDu/view?usp=sharing">RESUME</a>
      </div>
    </div>
  </div>
</nav>

<section class="text-dark my-5">
  <app-filters (filter_skill)="filter($event)"
    skills="Angular,Bootstrap,C#,Design,Flask,HTML/CSS,Java,JavaScript,Python,Unity"></app-filters>

  <div class="d-flex flex-wrap justify-content-center mt-3">
    <app-project-preview
      class="htmlcss bootstrap angular design"
      title="PERSONAL WEBSITE"
      skills="HTML/CSS,Bootstrap,Angular,Design"
      image_thumbnail="/assets/new_theme/test_projects/185.jpg"
      link="https://jasmineirada.com/About">
    </app-project-preview>
    <app-project-preview
      class="python flask js htmlcss bootstrap"
      title="MIMI AI: HAPPY FOR YOU"
      skills="Python,Flask,JavaScript,HTML/CSS,Bootstrap"
      image_thumbnail="/assets/new_theme/test_projects/888.jpg"
      link="https://mimi-ai.herokuapp.com/">
    </app-project-preview>
    <app-project-preview
      class="cs unity design"
      title="CRYSTAL CRISIS"
      skills="C#,Unity,3D Design"
      image_thumbnail="/assets/new_theme/test_projects/186.jpg"
      link="https://jasmineirada.com/obviouspalace/">
    </app-project-preview>
    <app-project-preview
      class="unity design pm"
      title="ESCAPING THE NEGATIVITY"
      skills="Unity,Art,Design,Project Management"
      image_thumbnail="/assets/new_theme/test_projects/888.jpg"
      link="https://devpost.com/software/escaping-the-negativity">
    </app-project-preview>
    <app-project-preview 
      class="cs unity art"
      title="TREASURE TOWER"
      skills="C#,Unity,Art"
      image_thumbnail="/assets/new_theme/test_projects/183.jpg"
      link="https://devpost.com/software/treasure-tower">
    </app-project-preview>
    <app-project-preview
      class="htmlcss js design"
      title="DIGITAL ROOT"
      skills="HTML/CSS,JavaScript, Design"
      image_thumbnail="/assets/new_theme/test_projects/899.jpg"
      link="https://jasmineirada.com/digitalroot/"></app-project-preview>
    </div> 
</section>

<!-- Footer-->
<footer class="footer bg-white text-dark text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Social Icons-->
      <div class="col mb-5 mb-lg-0">
        <p class="name-custom mb-4">Let's Connect!</p>
        <a class="btn btn-outline-dark btn-social p-3 mx-1" target="_blank" rel="noopener noreferrer"
          href="https://github.com/airada" aria-label="Checkout my GitHub"><i class="fab fa-fw fa-github fa-2x"></i></a>
        <a class="btn btn-outline-dark btn-social p-3 mx-1" target="_blank" rel="noopener noreferrer"
          href="https://rninchan.itch.io/" aria-label="Checkout my games on Itch.io"><i
            class="fab fa-fw fa-itch-io fa-2x"></i></a>
        <a class="btn btn-outline-dark btn-social p-3 mx-1" target="_blank" rel="noopener noreferrer"
          href="https://www.linkedin.com/in/jasmineirada/" aria-label="Let's connect on LinkedIn"><i
            class="fab fa-fw fa-linkedin fa-2x"></i></a>
        <a class="btn btn-outline-dark btn-social p-3 mx-1" target="_blank" rel="noopener noreferrer"
          href="mailto:jasmineirada@gmail.com" aria-label="Send me an email"><i class="fas fa-fw fa-envelope fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 bg-white text-center text-dark">
  <p><small>©2020 - 2021 <br> JASMINE IRADA <br> MADE WITH <i class="fas fa-heart"></i></small></p>
</div>

