h1,
h2,
h4,
h5,
h6 { font-family: "Calibri Light", "Calibri", "Candara", "Segoe", "Optima", "Arial", "sans-serif", -apple-system, BlinkMacSystemFont,
  Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-style: normal; font-variant: normal;}

p, h3, button, .badge {
  margin-bottom: 0.5rem;
  font-family: "Calibri Light", "Calibri", "Candara", "Segoe", "Optima", "Arial", "sans-serif", -apple-system, BlinkMacSystemFont,
  Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2;
}

/* 
CUSTOM COLORS
*/
.text-dark {
  color:  #2a2a2a !important;
}

.text-white {
  color:  #faf9f7 !important;
}

.bg-white {
  background-color: #faf9f7 !important;
}

.container-xxxl {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.badge {
  background-color: #faf9f7;
  color: #121212;
  box-shadow: 2px 2px 5px #e8e6e1;
}

.btn-portfolio {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.btn-shadow {
  box-shadow: 5px 5px 10px #e8e6e1;
}

button:hover, .btn:hover {
  color: #2a2a2a;
  background-color: #faf9f7;
  border-color: darkgray;
  font-size: small;
}

button, .btn {
  color: #faf9f7;
  background-color: #121212;
  border-color: #121212;
  font-size: small;
}

/* 
MEDIA QUERIES
 */

@media only screen and (min-width: 2560px) {
  h2 {
   font-size: 4rem;
 }

 p {
   font-size: 2rem;
 }

 .link {
   font-size: 2rem;
 }

 .badge {
   font-size: 1.75rem;
 }
 
 .container-xxxl {
   max-width: 90vw;
 }

 .fa-github, .fa-external-link-alt, i {
   margin-right: 20px;
 }

 button {
   font-size: 2rem;
   padding: 2.5rem;
 }
}

@media only screen and (min-width: 1825px) and (max-width: 2559px) {
  h2 {
   font-size: 3.5rem;
 }
 
 p {
   font-size: 1.75rem;
 }

 .link {
   font-size: 1.75rem;
 }

 .badge {
   font-size: 1.5rem;
 }
 
 .container-xxxl {
   max-width: 90vw;
 }

 .fa-github, .fa-external-link-alt, i {
   margin-right: 20px;
 }

 button {
   font-size: 1.75rem;
   padding: 2rem;
 }
}

@media only screen and (min-width: 601px) and (max-width: 1824px) {

 h2 {
   font-size: xx-large;
 }
 
 p {
   font-size: large;
 }
 
 .link {
   font-size: small;
 }

 .badge {
   font-size: initial;
 }

 .fa-github, .fa-external-link-alt, i {
   margin-right: 10px;
 }

 button {
   font-size: large;
   padding: 1.25rem;
 }

}

@media only screen and (max-width: 600px) {
 h2 {
   font-size: large;
 }

 p {
   font-size: small;
 }

 .link {
   font-size: x-small;
 }

 .badge {
   font-size: x-small;
 }

 .fa-github, .fa-external-link-alt, i {
   margin-right: 5px;
 }

 button {
   font-size: small;
   padding: 1rem;
 }

}
