<div class="container-fluid pt-5 mt-5" style="position: relative;">
  <!-- Dropdown Inputs -->
    <div class="row bar d-flex justify-content-center">
      <div id="box" (click)="input.focus()" class="col-11 col-lg-6 box px-1 mt-2 d-flex flex-wrap">
        <span class=" my-auto ms-3 me-2"><img class="filter-gray" alt="Filter Icon"
          src="/assets/img/filter-solid.svg"></span>

        <!-- List of Selected Badges -->
        <ul id="badges" class="d-inline-flex align-items-center p-0 m-0" *ngFor="let selected_item of selected">
          <li  (click)="toggle_skill(selected_item)" class="badge badge-pill pointer px-2 m-1 m-xxl-2">
              {{ selected_item }}
              <!-- <span><img class="filter-white" 
                src="/assets/img/times-circle-regular.svg"></span> -->
          </li>
        </ul>

        <!-- Clear Button -->
        <div title="Clear All" (click)="clear()" *ngIf="selected.length > 0" class="clear p-2 ml-auto my-auto">
          <span class="pointer me-xxl-4"><img class="filter-gray" alt="Clear skills"
            src="/assets/img/times-circle-regular.svg"></span>
        </div>

        <!-- Search Input -->
        <input 
          #input
          type="text"
          placeholder="Search"
          [size]="search_size"
          (focus)="content('show')"
          (keydown)="keydown($event)"
          (keyup.enter)="search(input.value)"
          (ngModelChange)="modelChange($event)"
          [ngModel]=""
          [ngModelOptions]="{ standalone: true }"
          class="p-0 ms-1 d-flex align-items-center"
        />
     
        
      </div>

      <!-- Dropdown Button -->
      <div
        id="caret"
        (click)="input_focused ? content('hide') : content('toggle')"
        class="col-1 caret pointer p-0 mt-2 d-flex justify-content-end"
      >
        <span title="Toggle Dropdown" class="my-auto mx-auto p-0">
          <img class="filter-white"
          [src]="caret_img" alt="Toggle Dropdown">
        </span>
      </div>
    </div>

    <!-- Dropdown Content -->
    <div class="row d-flex justify-content-center">
      <div id="dropdown-content" class="col col-lg-7 dropdown-content pointer hide">
        <!-- List of Skills/Suggestions -->
        <ul class="p-0 m-0">
          <li
            [id]="skills_list.indexOf(item)"
            *ngFor="let item of suggestions; let i = index"
            [ngClass]="includeBG(item)"
            (click)="toggle_skill(item)"
            [class.active]="i == arrowkey_position" 
            (focus)="(i == arrowkey_position)"
            class="m-0 item"
          >
            <div class="checkbox-hide">
              <label>
                <input type="checkbox" (click)="toggle_skill(item)" />
                {{ item }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>