/* Works on Firefox */
* {
  scrollbar-color:grey;
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

*,*:focus,*:hover{
  outline:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  lightgray;
}

.filter-gray {
  filter: invert(75%) sepia(12%) saturate(5%) hue-rotate(333deg) brightness(90%) contrast(83%);
}

.pointer:hover .filter-gray {
  filter: none;
}

.filter-white {
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}

input {
  background-color: transparent;
  border: none;
  color: #0b2228;
  display: inline-block;
  font-family: "Calibri Light";
  font-weight: 900;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  color: black;
  min-width: 100%;

}

.box {
  background-color: #faf9f7;
  border: 2px ;
  border-radius: 15px 0px 0px 15px;
  color: #faf9f7;
  cursor: text;
  min-height: 40px;
  box-shadow: 2px 2px 5px #e8e6e1;
}

.box-bottom {
  border-radius: 15px 0px 0px 0px;
}

/* Badges */
.badge,
.badge-pill {
  background-color: #343a40;
  font-family: "Calibri Light";
  color: #f5f5f7;
  font-size: 10pt;
}

.badge:hover,
.badge-pill:hover {
  background-color: #0d1013;
  cursor: pointer;
}

/* Dropdown Button */
.caret {
  background-color: #faf9f7;
  border: 5px darkgray;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 2px 2px 5px #e8e6e1;
}

.caret-bottom {
  border-radius: 0px 15px 0px 0px;
}

.caret:hover {
  background-color: darkgray;
}

.caret:hover .filter-gray {
  filter: invert(99%) sepia(53%) saturate(329%) hue-rotate(41deg) brightness(112%) contrast(98%); /* #faf9f7 */
}


/* Dropdown Content */
.hide {
  display: none;
}

.dropdown-content {
  background-color: #f5f5f7;
  border: 2px solid #f5f5f7;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Calibri Light";
  max-height: 25vh;
  overflow-y: auto;
  position: absolute;
  scrollbar-color: grey;
  scrollbar-width: thin;
  z-index: 4;
}

.bg-selected {
  background-color: darkgray;
  color: #f5f5f7;
  font-weight: bold;
}

.dropdown-item {
  border-bottom: 1px solid rgba(220, 220, 220, 0.75);
}

.active,
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  background-color: lightgrey;
}

.active.bg-selected,
.dropdown-item:hover.bg-selected {
  background-color: #343a40;
  color: #f5f5f7;
}

.checkbox-hide input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

@media only screen and (min-width: 2560px) {
  .bar {
    min-height: 8em;
  }

  input {
    font-size: 3rem;
  }

  .badge {
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 1rem;
  }

  .checkbox-hide {
    padding-top: 1em;
  }

  .dropdown-content {
    font-size: 3rem;
  }

  .item {
    height: 2em;
  }

  .filter-white  {
    height: 4rem;
  }

  .filter-gray {
    height: 2.5rem;
  }

}

@media only screen and (max-width: 2559px) {
  .bar {
    min-height: 4em;
    border-radius: 2em;
  }

  .badge {
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }

  .checkbox-hide {
    padding-top: 0.25em;
  }

  .dropdown-content {
    font-size: 1.25rem;
  }

  .item {
    height: 1.75em;
  }

 input {
   font-size: 1.5rem;
 }

  .filter-white {
    height: 2rem;
  }
  
  .filter-gray  {
    height: 1.25rem;
  }
}

@media only screen and (max-width: 1824px) {
  .bar {
    min-height: 2em;
    border-radius: 1em;
  }

  .badge {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }

  .checkbox-hide {
    padding-top: 0.25em;
  }

  .dropdown-content {
    font-size: 1rem;
  }

  .item {
    height: 1.75em;
  }

  input {
    font-size: 1.25rem;
  }

  .filter-white, .filter-gray  {
    height: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  input, .dropdown-content, .badge {
    font-size:1rem;
  }

  .filter-white, .filter-gray {
    height: 1.5rem;
  }

 
}